/* Gerais */
body{
	font-family: 'Texturina', sans-serif;
}

.row{
	margin: 0;
}

.container{
	padding: 70px 0;
}

p, li{
	color: #444;
	font-size: 14px
}

/* Barra de Navegação*/
header, .navbar{
	background-color: #000000;
}

#nav-container{
	padding-top: 0;
	padding-bottom: 0;
}

#logo{
	width: 75px;
}

.navbar-brand{
	padding: 0;
	color: #FFFFFF;
}

.navbar-brand:houver{
	color: #FFFFFF;
}

#navbar-links a {
	color: #FFFFFF;
}

.navbar-expand-lg .navbar-nav .nav-link{
	padding: 1rem .8rem;
}

/* Slider*/

.container-fluid{
	padding: 0;
}

#mainSlider .carousel-inner, #mainSlider . carousel-item{
	height: 90vh;
}

#mainSlider .carousel-caption{
	top 30%;
}

#mainSlider .carousel-caption h2{
	font-size: 50px;
	margin-bottom: 30px;
}

#mainSlider .carousel-caption p{
	font-size: 22px;
	font-weight: 300;
	margin-bottom: 100px;
	color: #FFFFFF;
}

.carousel-indicators .active{
	background-color: #000000;
}

/* Sobre Mim*/

#about-area{
	background-color: #F9F9F9;
}

.main-title{
	color: #444444;
	margin: 0 0 65px 00;
	font-size: 40px;
	text-align: center;
}

.main-title::after{
	content: "";
	border-top: 2px solid #333333;
	width: 15%;
	position: absolute;
	top: 60px;
	left: 42.5%;
}

.about-title{
	font-size: 17px;
	color: #444444;
	text-transform: uppercase;
	font-weight: bold;
}

#about-list li{
	line-height: 30px;
}

/* Serviços */

.service-box{
	text-align: center;
	margin-bottom: 50px
}

.service-box h4{
	font-size: 24px;
	margin-bottom: 20px;
}

.service-box:hover > h4{
	color: #65DAF9
}

/* Time */

.card-body{
	text-align: center;
}

/* Imagem e texto */

#apply-area{
	height: 500px;
}

#apply-area .container-fluid, #apply-area .row{
	height: 100%;
}

#apply-area .apply-box{
	text-align: center;
	padding: 70px 50px;
}

#company-img{
	background-image: url('../img/704387.png');
	background-size: cover;
	height: 100%;
}

#pattern-img h4, #pattern-img p{
	color: #0A0A0A;
}

#pattern-img h4{
	margin-top: 8%;
	margin-bottom: 20px;
	text-transform: uppercase;
}

#pattern-img p{
	margin-bottom: 20px;
}

#copy-area{
	background-color: #F1F1F1;
}

#copy-area .container{
	padding: 10px 0;
	text-align: center;
}

#copy-area .container{
	margin-bottom: 0;
}